<%- include('../includes/header.ejs') %>

<div
style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
    <h1 style="text-align:center;">Hello <%= nameOfRecipient %></h1>
    <p style="text-align:center;">You have been Banned from BiNNO and BiCoRSE Program because<br/><%= reasonOfRejection %></p>
 
</div>

<%- include('../includes/footer.ejs') %>