<!-- This is for the initial step after the user's signUp -->
<!-- They will upload their documents here in the included link -->

<%- include('../includes/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h3>Hello, <%= receiver %></h3>
  <p>Your application is currently ongoing</p>
  
</div>

<%- include('../includes/footer.ejs') %>