<%- include('../includes/header.ejs') %>


<div
style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
    <h1 style="text-align:center;">Hello <%= nameOfRecipient %></h1>
    <p style="text-align:center;">We have received notice of your leaving and would like to thank you for your diligence during your time with BiNNO. 
        We wish you the best of luck in your future endeavors. If circumstances drive you to return to us, we would be delighted to work with you again.
    </p>
 
</div>

<%- include('../includes/footer.ejs') %>