<%- include('../includes/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
	<h1 style="text-align:center;">Hello! <%= receiver %></h1>  
  <p style="text-align:center;">Your application is currently ongoing please wait until furthur notice</p>
</div>


<%- include('../includes/footer.ejs') %>