

<%- include('../includes/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial"
>
  <h1 style="text-align:center;">Hello <%= name %>!</h1>
  <p style="text-align:center;">We regret to inform you that your application to the BiNNO platform has been declined due to <b><%= reason %></b>, which do not align with our current requirements. We appreciate your interest and encourage you to consider applying again in the future.</p>
   
</div>

<%- include('../includes/footer.ejs') %>