<%- include('../includes/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 720px; padding: 30px 0; font-family: Arial; text-align: center;"
>
    <h2>Attempting Login </h2>
    <p>There's an attempt in signing in to you account. If this is you, here's the code:</p>
    <p>Your OTP is </p>
    <h3><%= otp %></h3>
    <p style="font-weight: bold;">Please don't share this information with anyone!</p>
</div>

<%- include('../includes/footer.ejs') %>