<%- include('../includes/header.ejs') %>

<div
  style="margin: 0 auto; max-width: 900px; padding: 20px 0; font-family: Arial;"
>
  <h2 style="text-align: center; margin: 10px;">You are already subscribed to our newsletter </h2>

      <p style="text-align: center;margin: 10px">
        </br> 
        We appreciate your ongoing support and enthusiasm. Just a friendly reminder that you are already subscribed to our newsletter, ensuring you stay up-to-date with the latest updates, exclusive offers, and exciting content. Thank you for being a valued member of our community!
      </p>

</div>

<%- include('../includes/footer.ejs') %>