<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notice of BiNNO Membership Termination</title>
</head>
<style>
    body {
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        margin: 0;
        padding: 20px;
    }
    h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    h4 {
        font-size: 19px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    p {
        font-size: 18px;
        margin-bottom: 15px;
    }
</style>
<body>
    <h3>Dear <%= memberName %>,</h3>
    <p>I hope this email finds you well.</p>
    <p>It is with a heavy heart that we must inform you of the termination of your membership access to our platform. This decision, whether initiated by your request or as a result of violations of our platform guidelines or exceeding specified restrictions, was made with careful consideration of the integrity and safety of our community.</p>
    <p>If you have any questions or concerns regarding this matter, please do not hesitate to reach out to us using the email address provided below. We are here to provide support and address any inquiries you may have.</p>
    <p>Furthermore, should you wish to discuss the possibility of account recovery or seek clarification on the circumstances surrounding this decision, please feel free to reach out to us. Your satisfaction and understanding are of utmost importance to us, and we are committed to assisting you through this process.</p>
    <p>Thank you for your understanding and cooperation.</p>
    <p>Sincerely,</p>
    <h4>The BiCoRSE Management</h4>
</body>
</html>
